name: Run keyword_kz bi-weekly

on:
  schedule:
    - cron: '0 3 * * 1'    # каждый понедельник в 03:00 UTC (06:00 MSK)
  workflow_dispatch:

jobs:
  biweekly:
    runs-on: ubuntu-latest

    steps:
     - name: Check even week number
        id: check_week
        shell: bash
        run: |
          # %-V (с минусом) убирает ведущий ноль. Например, будет "6", а не "06".
          week_num=$(date +%-V)
          echo "Текущая неделя: $week_num"
          echo "Тип запуска: ${{ github.event_name }}"

          # Проверка: (нечетная неделя) ИЛИ (ручной запуск workflow_dispatch)
          if [ $((week_num % 2)) -ne 0 ] || [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "is_even=true" >> $GITHUB_OUTPUT
            echo "✅ РЕШЕНИЕ: Запускаем."
          else
            echo "is_even=false" >> $GITHUB_OUTPUT
            echo "⛔ РЕШЕНИЕ: Пропускаем."
          fi

      # дальше все шаги — только если неделя чётная
      - name: Checkout code
        if: steps.check_week.outputs.is_even == 'true'
        uses: actions/checkout@v3

      - name: Set up Python
        if: steps.check_week.outputs.is_even == 'true'
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        if: steps.check_week.outputs.is_even == 'true'
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Write Google creds
        if: steps.check_week.outputs.is_even == 'true'
        run: |
          cat << 'EOF' > level-landing-195008-a8940ac6b2ab.json
          ${{ secrets.GCP_CREDENTIALS }}
          EOF

      - name: Run keyword_kz
        if: steps.check_week.outputs.is_even == 'true'
        env:
          TOKEN: ${{ secrets.KEYWORD_API_TOKEN }}
        run: python keyword_kz.py
