# .github/workflows/weekly.yml
name: Run keyword_kz weekly

# Запуск по расписанию: каждое воскресенье в 03:00 UTC
on:
  schedule:
    - cron: '0 3 * * 0'
  workflow_dispatch: # позволяет запускать вручную из UI

jobs:
  weekly-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Write Google creds
      shell: bash
      run: |
        cat << 'EOF' > level-landing-195008-a8940ac6b2ab.json
        ${{ secrets.GCP_CREDENTIALS }}
        EOF

    - name: Debug creds (first lines)
      run: head -n 5 level-landing-195008-a8940ac6b2ab.json

    - name: Run keyword_kz
      env:
        TOKEN: ${{ secrets.KEYWORD_API_TOKEN }}
      run: |
        python keyword_kz.py